/*  font-family: 'Roboto', sans-serif;
    font-family: 'Pacifico', cursive;
*/

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 30%, rgba(0,212,255,1) 100%);
}

header{
    height: 100px;
}
header h1{
    color: rgba(0,212,255,1);
    font-size: 3.5rem;
    padding-top:50px;
}
.box-logo{
    width: 250px;
    height: 150px;
}
.box-logo img{
    width: 100%;
    filter: invert();
}
#title-logo{
    font-family: 'Pacifico', cursive;
}
main{
    margin-top:100px;
}
.line{
    border-top: 3px solid white;
    width: 50%;
    margin: auto;
}
#pass{
    color: white;
    margin: auto;
    padding-top: 20px;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    z-index:2;
}
.card{
    cursor: pointer;
}
.card:hover #pass{
    opacity: 1;
    display: inline-block;
}
.card:hover h4{
    opacity: 0;
}

.card h4{
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    z-index:1;
    text-align: center;
    opacity: 1;
    transition: opacity 0.8s;
}
#copyright{
    font-family: 'Pacifico', cursive;
}

